@font-face {
    font-family: 'daydream-webfont';
    src: url('daydream-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lilian-webfont';
    src: url('lilian-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, html {
    background-color: black;
    margin: 0;
    width: 100%;
    height: 100%;
}

#gamediv {
    background-color: black;
    width: 100%;
    height: 100%;
}